@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot');
    src: url('./icomoon.eot#iefix') format("embedded-opentype"),
    url('./icomoon.ttf') format("truetype"),
    url('./icomoon.woff') format("woff"),
    url('./icomoon.svg#icomoon') format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download-off:before {
    content: "\e94b";
}
.icon-access-point-check:before {
    content: "\e90e";
}
.icon-access-point-network:before {
    content: "\e90f";
}
.icon-access-point-remove:before {
    content: "\e910";
}
.icon-account-alert:before {
    content: "\e912";
}
.icon-account-arrow-left:before {
    content: "\e913";
}
.icon-account-arrow-right:before {
    content: "\e914";
}
.icon-account-arrow-up:before {
    content: "\e903";
}
.icon-account-cancel:before {
    content: "\e915";
}
.icon-account-clock:before {
    content: "\e904";
}
.icon-account-group:before {
    content: "\e916";
}
.icon-account-hard-hat:before {
    content: "\e917";
}
.icon-account-multiple-plus:before {
    content: "\e918";
}
.icon-account-plus:before {
    content: "\e919";
}
.icon-account-question:before {
    content: "\e91a";
}
.icon-account-switch-outline:before {
    content: "\e91b";
}
.icon-account-voice:before {
    content: "\e91c";
}
.icon-account_circle:before {
    content: "\e911";
}
.icon-air-conditioner:before {
    content: "\e91d";
}
.icon-air-filter:before {
    content: "\e91e";
}
.icon-airplane:before {
    content: "\e91f";
}
.icon-alarm-light:before {
    content: "\e920";
}
.icon-alert:before {
    content: "\e921";
}
.icon-alert-circle:before {
    content: "\e922";
}
.icon-alert-circle-check:before {
    content: "\e923";
}
.icon-alert-circle-outline:before {
    content: "\e924";
}
.icon-alert-octagram:before {
    content: "\e925";
}
.icon-alert-plus:before {
    content: "\e926";
}
.icon-alert-rhombus:before {
    content: "\e927";
}
.icon-align-horizontal-center:before {
    content: "\e928";
}
.icon-align-horizontal-left:before {
    content: "\e929";
}
.icon-align-horizontal-right:before {
    content: "\e92a";
}
.icon-align-vertical-bottom:before {
    content: "\e92b";
}
.icon-align-vertical-center:before {
    content: "\e92c";
}
.icon-align-vertical-top:before {
    content: "\e92d";
}
.icon-amplifier:before {
    content: "\e92e";
}
.icon-angle-acute:before {
    content: "\e92f";
}
.icon-animation:before {
    content: "\e930";
}
.icon-application-cog:before {
    content: "\e931";
}
.icon-application-settings:before {
    content: "\e932";
}
.icon-apps:before {
    content: "\e933";
}
.icon-arm-flex:before {
    content: "\e934";
}
.icon-arrange-bring-forward:before {
    content: "\e935";
}
.icon-arrow-bottom-right-bold-outline:before {
    content: "\e936";
}
.icon-arrow-collapse:before {
    content: "\e937";
}
.icon-arrow-collapse-up:before {
    content: "\e938";
}
.icon-arrow-collapse-vertical:before {
    content: "\e939";
}
.icon-arrow-expand-vertical:before {
    content: "\e93a";
}
.icon-arrow-left:before {
    content: "\e97c";
}
.icon-arrow-right:before {
    content: "\e97d";
}
.icon-arrow-right-top-bold:before {
    content: "\e907";
}
.icon-arrow-top-right-bottom-left:before {
    content: "\e93b";
}
.icon-arrow-up-bold:before {
    content: "\eaed";
}
.icon-aspect-ratio:before {
    content: "\e93c";
}
.icon-asset:before {
    content: "\e93d";
}
.icon-atom:before {
    content: "\e93e";
}
.icon-attachment:before {
    content: "\e93f";
}
.icon-auto-fix:before {
    content: "\e941";
}
.icon-auto_awesome_motion:before {
    content: "\e940";
}
.icon-badge-account-horizontal:before {
    content: "\e942";
}
.icon-ballot:before {
    content: "\e943";
}
.icon-barrel:before {
    content: "\e944";
}
.icon-battery:before {
    content: "\e945";
}
.icon-battery-30:before {
    content: "\e946";
}
.icon-battery-70:before {
    content: "\e947";
}
.icon-battery-alert-variant-outline:before {
    content: "\e948";
}
.icon-battery-charging-10:before {
    content: "\e949";
}
.icon-beach:before {
    content: "\e94a";
}
.icon-block_flipped:before {
    content: "\e94c";
}
.icon-bluetooth:before {
    content: "\e94d";
}
.icon-book-open:before {
    content: "\e94e";
}
.icon-bookshelf:before {
    content: "\e94f";
}
.icon-box-shadow:before {
    content: "\eae6";
}
.icon-braille:before {
    content: "\e950";
}
.icon-brightness-4:before {
    content: "\e951";
}
.icon-broken_image:before {
    content: "\e952";
}
.icon-broom:before {
    content: "\e953";
}
.icon-bug:before {
    content: "\e954";
}
.icon-bullseye-arrow:before {
    content: "\e955";
}
.icon-bus:before {
    content: "\e956";
}
.icon-cached:before {
    content: "\e957";
}
.icon-cake-variant:before {
    content: "\e958";
}
.icon-calendar-blank-outline:before {
    content: "\e97f";
}
.icon-calendar-check:before {
    content: "\e959";
}
.icon-calendar-clock-outline:before {
    content: "\ea0e";
}
.icon-calendar-cursor:before {
    content: "\e95a";
}
.icon-calendar-edit:before {
    content: "\e95b";
}
.icon-calendar-multiselect:before {
    content: "\e95c";
}
.icon-calendar-text:before {
    content: "\eaea";
}
.icon-calendar-today:before {
    content: "\eaeb";
}
.icon-camera-plus:before {
    content: "\e95d";
}
.icon-car:before {
    content: "\e95e";
}
.icon-car-battery:before {
    content: "\e95f";
}
.icon-car-brake-alert:before {
    content: "\e960";
}
.icon-car-multiple:before {
    content: "\e966";
}
.icon-car-seat:before {
    content: "\e967";
}
.icon-card-account-details:before {
    content: "\e961";
}
.icon-card-bulleted:before {
    content: "\e962";
}
.icon-card-bulleted-settings:before {
    content: "\e963";
}
.icon-card-text:before {
    content: "\e965";
}
.icon-cards:before {
    content: "\e964";
}
.icon-cart:before {
    content: "\e968";
}
.icon-cart-arrow-down:before {
    content: "\e969";
}
.icon-cash-100:before {
    content: "\e96a";
}
.icon-cash-refund:before {
    content: "\e96b";
}
.icon-cctv:before {
    content: "\e96c";
}
.icon-cellphone:before {
    content: "\e96d";
}
.icon-cellphone-basic:before {
    content: "\e96e";
}
.icon-cellphone-wireless:before {
    content: "\e96f";
}
.icon-certificate:before {
    content: "\e970";
}
.icon-chair-rolling:before {
    content: "\e971";
}
.icon-chart-areaspline:before {
    content: "\e972";
}
.icon-chart-bar:before {
    content: "\e973";
}
.icon-chart-bell-curve-cumulative:before {
    content: "\e974";
}
.icon-chart-box-plus-outline:before {
    content: "\e975";
}
.icon-chart-pie:before {
    content: "\e976";
}
.icon-chart-timeline:before {
    content: "\e977";
}
.icon-chart-timeline-variant-shimmer:before {
    content: "\e978";
}
.icon-check:before {
    content: "\ea15";
}
.icon-check-bold:before {
    content: "\e979";
}
.icon-check-decagram:before {
    content: "\e97a";
}
.icon-check-underline-circle:before {
    content: "\e97b";
}
.icon-chevron-down:before {
    content: "\e97e";
}
.icon-chevron-left:before {
    content: "\ea20";
}
.icon-chevron-right:before {
    content: "\ea58";
}
.icon-chevron-up:before {
    content: "\e980";
}
.icon-chip:before {
    content: "\e981";
}
.icon-circular-saw:before {
    content: "\e982";
}
.icon-city-variant:before {
    content: "\e983";
}
.icon-clipboard:before {
    content: "\e984";
}
.icon-clipboard-account:before {
    content: "\e985";
}
.icon-clipboard-alert:before {
    content: "\e986";
}
.icon-clipboard-arrow-right:before {
    content: "\e901";
}
.icon-clipboard-check:before {
    content: "\e987";
}
.icon-clipboard-edit:before {
    content: "\e988";
}
.icon-clipboard-flow:before {
    content: "\e989";
}
.icon-clipboard-list:before {
    content: "\e98a";
}
.icon-clipboard-outline:before {
    content: "\e98b";
}
.icon-clipboard-plus:before {
    content: "\e98c";
}
.icon-clipboard-pulse:before {
    content: "\e98d";
}
.icon-clipboard-search:before {
    content: "\e98e";
}
.icon-clipboard-text:before {
    content: "\e98f";
}
.icon-clipboard-text-clock:before {
    content: "\eae1";
}
.icon-clipboard-text-search-outline:before {
    content: "\e990";
}
.icon-clock:before {
    content: "\e991";
}
.icon-clock-alert-outline:before {
    content: "\e992";
}
.icon-clock-check-outline:before {
    content: "\e993";
}
.icon-clock-end:before {
    content: "\e994";
}
.icon-clock-fast:before {
    content: "\e995";
}
.icon-clock-remove-outline:before {
    content: "\eae4";
}
.icon-clock-start:before {
    content: "\e996";
}
.icon-close:before {
    content: "\eaee";
}
.icon-close-circle:before {
    content: "\e997";
}
.icon-close-thick:before {
    content: "\e998";
}
.icon-cloud:before {
    content: "\e999";
}
.icon-cloud-braces:before {
    content: "\e99a";
}
.icon-cloud-download:before {
    content: "\e99b";
}
.icon-cloud-upload:before {
    content: "\e99c";
}
.icon-coffee:before {
    content: "\e99d";
}
.icon-coffee-maker:before {
    content: "\e99e";
}
.icon-cog:before {
    content: "\e99f";
}
.icon-cog-box:before {
    content: "\e9a0";
}
.icon-cog-refresh:before {
    content: "\e9a1";
}
.icon-cog-sync:before {
    content: "\e9a3";
}
.icon-cog-transfer:before {
    content: "\e9a4";
}
.icon-cogs:before {
    content: "\e9a2";
}
.icon-comment-alert:before {
    content: "\e9a5";
}
.icon-comment-processing:before {
    content: "\e9a6";
}
.icon-compare-horizontal:before {
    content: "\e9a7";
}
.icon-concourse-ci:before {
    content: "\e9a8";
}
.icon-contain:before {
    content: "\e9a9";
}
.icon-coolant-temperature:before {
    content: "\e9aa";
}
.icon-counter:before {
    content: "\e9ab";
}
.icon-cow:before {
    content: "\e9ac";
}
.icon-crane:before {
    content: "\e9ad";
}
.icon-credit-card:before {
    content: "\e9ae";
}
.icon-crop-free:before {
    content: "\e9af";
}
.icon-cube:before {
    content: "\e9b0";
}
.icon-cube-outline:before {
    content: "\e9b1";
}
.icon-cube-scan:before {
    content: "\e9b2";
}
.icon-cube-send:before {
    content: "\e9b3";
}
.icon-cupboard:before {
    content: "\e9b4";
}
.icon-currency-cny:before {
    content: "\e9b5";
}
.icon-currency-usd:before {
    content: "\e9b6";
}
.icon-cursor-default-click:before {
    content: "\e9b7";
}
.icon-cursor-default-gesture:before {
    content: "\e9b8";
}
.icon-cursor-move:before {
    content: "\e9b9";
}
.icon-cursor-pointer:before {
    content: "\e9ba";
}
.icon-database:before {
    content: "\e9bb";
}
.icon-database-sync:before {
    content: "\e9bc";
}
.icon-delete-forever:before {
    content: "\e9bd";
}
.icon-desk:before {
    content: "\e9be";
}
.icon-desktop-classic:before {
    content: "\e9bf";
}
.icon-desktop-mac:before {
    content: "\e9c0";
}
.icon-developer-board:before {
    content: "\e9c1";
}
.icon-distribute-horizontal-center:before {
    content: "\e9c2";
}
.icon-distribute-horizontal-left:before {
    content: "\e9c3";
}
.icon-distribute-horizontal-right:before {
    content: "\e9c4";
}
.icon-distribute-vertical-bottom:before {
    content: "\e9c5";
}
.icon-distribute-vertical-center:before {
    content: "\e9c6";
}
.icon-distribute-vertical-top:before {
    content: "\e9c7";
}
.icon-diving-scuba-tank:before {
    content: "\e9c8";
}
.icon-dna:before {
    content: "\e9c9";
}
.icon-dock-left:before {
    content: "\ea95";
}
.icon-dock-right:before {
    content: "\eae5";
}
.icon-dolly:before {
    content: "\e9ca";
}
.icon-domain:before {
    content: "\e9cb";
}
.icon-dots-horizontal:before {
    content: "\e9cc";
}
.icon-dots-vertical:before {
    content: "\e9cd";
}
.icon-download:before {
    content: "\e9ce";
}
.icon-drag:before {
    content: "\e9cf";
}
.icon-drag-horizontal:before {
    content: "\e9d0";
}
.icon-draw:before {
    content: "\eae8";
}
.icon-dresser:before {
    content: "\e9d1";
}
.icon-dump-truck:before {
    content: "\e9d2";
}
.icon-earth:before {
    content: "\e9d3";
}
.icon-elevator:before {
    content: "\e9d4";
}
.icon-elevator-passenger:before {
    content: "\e9d5";
}
.icon-email:before {
    content: "\e9d6";
}
.icon-engine:before {
    content: "\e9d7";
}
.icon-engine-off:before {
    content: "\e9d9";
}
.icon-engineering:before {
    content: "\e9d8";
}
.icon-escalator:before {
    content: "\e9da";
}
.icon-eslint:before {
    content: "\e9db";
}
.icon-ev-station:before {
    content: "\e9dc";
}
.icon-excavator:before {
    content: "\e9dd";
}
.icon-exit-to-app:before {
    content: "\e908";
}
.icon-expansion-card:before {
    content: "\e9de";
}
.icon-eye:before {
    content: "\e9df";
}
.icon-eye-off-outline:before {
    content: "\e9e1";
}
.icon-eye-outline:before {
    content: "\e9e2";
}
.icon-eye-plus:before {
    content: "\e9e3";
}
.icon-eyedropper:before {
    content: "\e9e0";
}
.icon-face-agent:before {
    content: "\e9e4";
}
.icon-fact_check:before {
    content: "\e9e5";
}
.icon-factory:before {
    content: "\e9e6";
}
.icon-family-tree:before {
    content: "\e9e7";
}
.icon-fan:before {
    content: "\e9e8";
}
.icon-feature-search:before {
    content: "\e902";
}
.icon-file:before {
    content: "\e9e9";
}
.icon-file-document:before {
    content: "\e9ea";
}
.icon-file-document-edit:before {
    content: "\e9eb";
}
.icon-file-tree:before {
    content: "\e9ec";
}
.icon-filter:before {
    content: "\e9ed";
}
.icon-filter-off:before {
    content: "\e9ee";
}
.icon-filter-variant:before {
    content: "\e9ef";
}
.icon-fingerprint:before {
    content: "\e9f0";
}
.icon-fire:before {
    content: "\e9f1";
}
.icon-fire-extinguisher:before {
    content: "\e9f2";
}
.icon-fire-hydrant:before {
    content: "\e9f3";
}
.icon-fire-truck:before {
    content: "\e9f4";
}
.icon-flash:before {
    content: "\e9f5";
}
.icon-flask-outline:before {
    content: "\e9f6";
}
.icon-flip-to-back:before {
    content: "\e9f7";
}
.icon-floor-plan:before {
    content: "\e9f8";
}
.icon-flower:before {
    content: "\e9f9";
}
.icon-focus-field-horizontal:before {
    content: "\e9fa";
}
.icon-folder-open:before {
    content: "\e9fb";
}
.icon-folder-wrench-outline:before {
    content: "\eada";
}
.icon-folder-zip:before {
    content: "\e9fc";
}
.icon-food-fork-drink:before {
    content: "\e9fd";
}
.icon-forklift:before {
    content: "\e9fe";
}
.icon-format-bold:before {
    content: "\e9ff";
}
.icon-format-color-fill:before {
    content: "\ea00";
}
.icon-format-color-highlight:before {
    content: "\ea01";
}
.icon-format-letter-matches:before {
    content: "\ea02";
}
.icon-format-line-style:before {
    content: "\ea03";
}
.icon-format-list-bulleted:before {
    content: "\ea04";
}
.icon-format-list-bulleted-type:before {
    content: "\ea05";
}
.icon-format-list-checks:before {
    content: "\ea06";
}
.icon-format-list-numbered:before {
    content: "\ea07";
}
.icon-format-list-text:before {
    content: "\ea08";
}
.icon-format-text-wrapping-overflow:before {
    content: "\ea0a";
}
.icon-format-textbox:before {
    content: "\ea09";
}
.icon-fridge:before {
    content: "\ea0b";
}
.icon-fridge-industrial:before {
    content: "\ea0c";
}
.icon-gantry-crane:before {
    content: "\ea0d";
}
.icon-gas-station:before {
    content: "\ea0f";
}
.icon-gauge:before {
    content: "\ea10";
}
.icon-gesture-swipe:before {
    content: "\ea11";
}
.icon-golf-cart:before {
    content: "\ea12";
}
.icon-gondola:before {
    content: "\ea13";
}
.icon-google-controller:before {
    content: "\ea14";
}
.icon-hammer-screwdriver:before {
    content: "\ea16";
}
.icon-hand-back-left:before {
    content: "\eae3";
}
.icon-hand-heart:before {
    content: "\ea17";
}
.icon-hand-water:before {
    content: "\ea19";
}
.icon-handshake:before {
    content: "\ea18";
}
.icon-head-snowflake-outline:before {
    content: "\ea1a";
}
.icon-heart:before {
    content: "\ea1b";
}
.icon-heart-plus:before {
    content: "\ea1c";
}
.icon-heart-pulse:before {
    content: "\ea1d";
}
.icon-help-box:before {
    content: "\ea1e";
}
.icon-hexagon:before {
    content: "\ea1f";
}
.icon-history:before {
    content: "\ea21";
}
.icon-home:before {
    content: "\ea22";
}
.icon-home-city:before {
    content: "\ea23";
}
.icon-home-variant:before {
    content: "\ea24";
}
.icon-hospital-box:before {
    content: "\ea25";
}
.icon-hubspot:before {
    content: "\ea26";
}
.icon-human-greeting:before {
    content: "\ea27";
}
.icon-hydraulic-oil-level:before {
    content: "\ea28";
}
.icon-hydraulic-oil-temperature:before {
    content: "\ea29";
}
.icon-image:before {
    content: "\ea2a";
}
.icon-image-multiple:before {
    content: "\ea2b";
}
.icon-image-outline:before {
    content: "\ea2c";
}
.icon-image-text:before {
    content: "\ea2d";
}
.icon-inbox-arrow-down:before {
    content: "\ea2e";
}
.icon-inbox-full:before {
    content: "\ea2f";
}
.icon-inbox-multiple:before {
    content: "\ea30";
}
.icon-integration_instructions:before {
    content: "\ea31";
}
.icon-key:before {
    content: "\ea32";
}
.icon-keyboard:before {
    content: "\ea33";
}
.icon-lan:before {
    content: "\ea34";
}
.icon-laptop:before {
    content: "\ea35";
}
.icon-layers:before {
    content: "\ea36";
}
.icon-led-on:before {
    content: "\ea37";
}
.icon-lightbulb-on:before {
    content: "\ea38";
}
.icon-line-scan:before {
    content: "\eaef";
}
.icon-link-variant:before {
    content: "\eaec";
}
.icon-list_alt:before {
    content: "\ea39";
}
.icon-lock:before {
    content: "\ea3a";
}
.icon-magnify:before {
    content: "\ea3b";
}
.icon-map:before {
    content: "\ea3c";
}
.icon-map-clock:before {
    content: "\ea3d";
}
.icon-map-marker:before {
    content: "\ea3e";
}
.icon-map-marker-path:before {
    content: "\ea3f";
}
.icon-map-marker-radius:before {
    content: "\eae9";
}
.icon-map-marker-star:before {
    content: "\ea40";
}
.icon-marker-check:before {
    content: "\e906";
}
.icon-matrix:before {
    content: "\ea41";
}
.icon-memory:before {
    content: "\ea42";
}
.icon-menu:before {
    content: "\ea43";
}
.icon-menu-down:before {
    content: "\eaf0";
}
.icon-menu-up:before {
    content: "\eaf1";
}
.icon-micro-sd:before {
    content: "\ea45";
}
.icon-microphone:before {
    content: "\ea44";
}
.icon-monitor-cellphone:before {
    content: "\ea46";
}
.icon-motorbike:before {
    content: "\ea47";
}
.icon-mouse:before {
    content: "\ea48";
}
.icon-mower:before {
    content: "\ea49";
}
.icon-music:before {
    content: "\ea4a";
}
.icon-nas:before {
    content: "\ea4b";
}
.icon-navigation:before {
    content: "\e900";
}
.icon-network:before {
    content: "\ea4c";
}
.icon-newspaper:before {
    content: "\ea4d";
}
.icon-newspaper-variant:before {
    content: "\ea4e";
}
.icon-nfc:before {
    content: "\ea4f";
}
.icon-notebook:before {
    content: "\ea50";
}
.icon-office-building-marker:before {
    content: "\ea51";
}
.icon-open-in-new:before {
    content: "\eae7";
}
.icon-package:before {
    content: "\ea52";
}
.icon-package-down:before {
    content: "\ea53";
}
.icon-page-next:before {
    content: "\ea54";
}
.icon-page-next-outline:before {
    content: "\ea55";
}
.icon-page-previous:before {
    content: "\ea56";
}
.icon-palette:before {
    content: "\ea57";
}
.icon-part:before {
    content: "\eaf2";
}
.icon-pause:before {
    content: "\e909";
}
.icon-paw:before {
    content: "\ea59";
}
.icon-pencil:before {
    content: "\ea5a";
}
.icon-pencil-ruler:before {
    content: "\ea5b";
}
.icon-person:before {
    content: "\ea5c";
}
.icon-phone:before {
    content: "\ea5d";
}
.icon-photo:before {
    content: "\ea5e";
}
.icon-pier-crane:before {
    content: "\ea5f";
}
.icon-pipe-disconnected:before {
    content: "\ea60";
}
.icon-pipe-leak:before {
    content: "\ea61";
}
.icon-play:before {
    content: "\e90a";
}
.icon-play-circle:before {
    content: "\ea62";
}
.icon-play-speed:before {
    content: "\ea63";
}
.icon-plus-circle:before {
    content: "\ea64";
}
.icon-point-of-sale:before {
    content: "\ea65";
}
.icon-poll-box:before {
    content: "\ea66";
}
.icon-post-outline:before {
    content: "\ea67";
}
.icon-pot-steam:before {
    content: "\ea68";
}
.icon-power-plug:before {
    content: "\ea69";
}
.icon-power-plug-off:before {
    content: "\ea6a";
}
.icon-presentation:before {
    content: "\ea6b";
}
.icon-printer:before {
    content: "\ea6c";
}
.icon-printer-3d:before {
    content: "\ea6d";
}
.icon-progress-alert:before {
    content: "\ea6e";
}
.icon-progress-check:before {
    content: "\ea6f";
}
.icon-progress-question:before {
    content: "\ea70";
}
.icon-progress-wrench:before {
    content: "\ea71";
}
.icon-projector:before {
    content: "\ea72";
}
.icon-qqchat:before {
    content: "\ea73";
}
.icon-qrcode:before {
    content: "\ea74";
}
.icon-quadcopter:before {
    content: "\ea75";
}
.icon-radiator:before {
    content: "\ea76";
}
.icon-raspberry-pi:before {
    content: "\ea77";
}
.icon-ray-start-end:before {
    content: "\ea78";
}
.icon-receipt:before {
    content: "\ea79";
}
.icon-recycle:before {
    content: "\ea7a";
}
.icon-relation-many-to-many:before {
    content: "\ea7b";
}
.icon-remote:before {
    content: "\ea7c";
}
.icon-repeat:before {
    content: "\ea7d";
}
.icon-resistor:before {
    content: "\ea7e";
}
.icon-restart:before {
    content: "\e90b";
}
.icon-road:before {
    content: "\ea7f";
}
.icon-robot-industrial:before {
    content: "\ea80";
}
.icon-rotate-3d:before {
    content: "\ea81";
}
.icon-router-network:before {
    content: "\ea82";
}
.icon-router-wireless:before {
    content: "\ea83";
}
.icon-ruler:before {
    content: "\ea84";
}
.icon-safe-square:before {
    content: "\ea85";
}
.icon-satellite-uplink:before {
    content: "\ea86";
}
.icon-scale:before {
    content: "\ea87";
}
.icon-scale-balance:before {
    content: "\ea88";
}
.icon-scanner:before {
    content: "\ea89";
}
.icon-school:before {
    content: "\ea8a";
}
.icon-seal:before {
    content: "\ea8b";
}
.icon-select-compare:before {
    content: "\ea8c";
}
.icon-select-marker:before {
    content: "\ea8d";
}
.icon-server:before {
    content: "\ea8e";
}
.icon-server-network:before {
    content: "\ea8f";
}
.icon-shape:before {
    content: "\ea90";
}
.icon-share:before {
    content: "\ea91";
}
.icon-share-variant:before {
    content: "\ea92";
}
.icon-shield:before {
    content: "\ea93";
}
.icon-shoe-print:before {
    content: "\e90c";
}
.icon-shower-head:before {
    content: "\ea94";
}
.icon-sign-caution:before {
    content: "\ea97";
}
.icon-signature-freehand:before {
    content: "\ea96";
}
.icon-silo:before {
    content: "\ea98";
}
.icon-sitemap:before {
    content: "\ea99";
}
.icon-skull-scan:before {
    content: "\ea9a";
}
.icon-sofa-single:before {
    content: "\ea9b";
}
.icon-sort-alphabetical-ascending:before {
    content: "\ea9c";
}
.icon-sort-alphabetical-descending:before {
    content: "\ea9d";
}
.icon-speedometer:before {
    content: "\ea9e";
}
.icon-spotlight-beam:before {
    content: "\ea9f";
}
.icon-sprout:before {
    content: "\eaa0";
}
.icon-star:before {
    content: "\eaa1";
}
.icon-star-outline:before {
    content: "\eaa2";
}
.icon-star-plus-outline:before {
    content: "\eaa3";
}
.icon-star-settings-outline:before {
    content: "\eaa4";
}
.icon-sticker-emoji:before {
    content: "\eaa5";
}
.icon-store:before {
    content: "\eaa6";
}
.icon-strategy:before {
    content: "\eaa7";
}
.icon-subway-variant:before {
    content: "\eaa8";
}
.icon-summit:before {
    content: "\eaa9";
}
.icon-swap-horizontal-variant:before {
    content: "\eaaa";
}
.icon-table-chair:before {
    content: "\e90d";
}
.icon-table-clock:before {
    content: "\eaab";
}
.icon-tablet:before {
    content: "\eaac";
}
.icon-tablet-cellphone:before {
    content: "\eaad";
}
.icon-tag:before {
    content: "\eaae";
}
.icon-tanker-truck:before {
    content: "\eaaf";
}
.icon-teach:before {
    content: "\eab0";
}
.icon-television-clean:before {
    content: "\eab1";
}
.icon-text-box:before {
    content: "\eab2";
}
.icon-text-search:before {
    content: "\eab3";
}
.icon-text-to-speech:before {
    content: "\eae0";
}
.icon-thermometer:before {
    content: "\eab4";
}
.icon-timeline-clock:before {
    content: "\eab5";
}
.icon-timer:before {
    content: "\eab6";
}
.icon-tournament:before {
    content: "\eab7";
}
.icon-tow-truck:before {
    content: "\eab9";
}
.icon-tower-fire:before {
    content: "\eab8";
}
.icon-track-light:before {
    content: "\eaba";
}
.icon-tractor:before {
    content: "\eabb";
}
.icon-tractor-variant:before {
    content: "\eabc";
}
.icon-train-car:before {
    content: "\eabd";
}
.icon-transfer:before {
    content: "\eabe";
}
.icon-transit-connection-horizontal:before {
    content: "\eabf";
}
.icon-transit-connection-variant:before {
    content: "\eac0";
}
.icon-translate:before {
    content: "\eac1";
}
.icon-tray-arrow-down:before {
    content: "\e905";
}
.icon-tray-full:before {
    content: "\eac2";
}
.icon-trello:before {
    content: "\eac3";
}
.icon-trending-down:before {
    content: "\eac4";
}
.icon-trending-up:before {
    content: "\eac5";
}
.icon-triforce:before {
    content: "\eac6";
}
.icon-truck:before {
    content: "\eac7";
}
.icon-tumble-dryer:before {
    content: "\eac8";
}
.icon-tune:before {
    content: "\eac9";
}
.icon-van-utility:before {
    content: "\eaca";
}
.icon-vector-polyline:before {
    content: "\eacb";
}
.icon-vector-radius:before {
    content: "\eacc";
}
.icon-vector-rectangle:before {
    content: "\eacd";
}
.icon-verified:before {
    content: "\eace";
}
.icon-video:before {
    content: "\eacf";
}
.icon-view-dashboard:before {
    content: "\ead0";
}
.icon-view-split-vertical:before {
    content: "\ead1";
}
.icon-wall-sconce-flat:before {
    content: "\ead2";
}
.icon-warehouse:before {
    content: "\ead3";
}
.icon-water:before {
    content: "\ead4";
}
.icon-water-pump:before {
    content: "\ead5";
}
.icon-waveform:before {
    content: "\ead6";
}
.icon-waves:before {
    content: "\ead7";
}
.icon-web:before {
    content: "\ead8";
}
.icon-webcam:before {
    content: "\ead9";
}
.icon-wechat:before {
    content: "\eadb";
}
.icon-wifi:before {
    content: "\eadc";
}
.icon-wifi-off:before {
    content: "\eaf3";
}
.icon-wrench:before {
    content: "\eadd";
}
.icon-wrench-clock:before {
    content: "\eae2";
}
.icon-wysiwyg:before {
    content: "\eade";
}
.icon-xml:before {
    content: "\eadf";
}
